# IDE
/.idea/

# Semantic release
node_modules

# Common
.envrc
.common-protos/
VERSION.env

# JVM
.gradle
lang/jvm/gradle.properties
lang/jvm/build

# Golang
lang/go/build
lang/go/VERSION

# Python
lang/python/VERSION
lang/python/requirements.txt
lang/python/requirements-dev.txt
lang/python/streammachine
lang/python/build
lang/python/dist
lang/python/*.egg-info
