# IDE
/.idea/

# Semantic release
node_modules

# Common
.envrc
.common-protos/
VERSION.env
prev-api-definitions/
docs/

# JVM
.gradle
lang/jvm/gradle.properties
lang/jvm/build

# Golang
lang/go/build
lang/go/VERSION

# Python
lang/python/VERSION
lang/python/requirements.txt
lang/python/requirements-dev.txt
lang/python/strmprivacy
lang/python/build
lang/python/dist
lang/python/*.egg-info
.google-common-protos/
image.bin
google-api-linter

# TypeScript
lang/typescript/build
lang/typescript/dist
