# IDE
/.idea/

# Semantic release
node_modules

# Common
.envrc
.common-protos/
VERSION.env
prev-api-definitions/
protos/.protoc-plugins
mock/lang
mock/protos

# JVM
.gradle
lang/jvm/gradle.properties
lang/jvm/build
lang/jvm/src

# Golang
lang/go/src
lang/go/VERSION

# Python
lang/python/VERSION
lang/python/requirements.txt
lang/python/requirements-dev.txt
lang/python/strmprivacy
lang/python/src
lang/python/dist
lang/python/*.egg-info
.google-common-protos/
image.bin
google-api-linter

# TypeScript
lang/typescript/src
lang/typescript/dist
lang/typescript/.npmrc
